.SiteHeader {
    background-color: black;
    position: sticky;
    top: 0;
    color: salmon;
    font-size: 2vw;
    z-index: var(--site-header-z-index);
    width:100%;
}

body{
    margin:0;
}

.container{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.work{
    margin:5px;
}

h1 {
    background-color: salmon;
    color: black;
    font-size: 4vw;
    margin:0;
}

h2 {
    padding: 5px 10px;
    border: 2px solid salmon;
    color: salmon;
    background-color: black;
    margin: 2%;
}

.post {
    padding: 5px 10px;
    border: 2px solid salmon;
    color: black;
    background-color: white;
    margin: 5%;
}

html {
    font-family: Aboreto;
    padding: 0px 0px;
    background-color: black;
    margin: 0;
}
